*{
    margin: 0;
}
:root{
    --primary-color: #FF5400;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 2% 8% 0 8%;

}
.title{
    display: flex;
    width: 40%;
}
.title img{
   height: 100%;
}

.trove{
    color: var(--primary-color);
}
.title h1{
    padding-top: 1%;
    margin-left: 2%;
}

.navbar{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    margin-left: 5%;
    color: #424247;
    font-size: 1.2rem;
}
.navbar .home{
    color: var(--primary-color);
}
.hero{
    margin: 2% 8% 0 8%;
    background-image: url('image/Group 13.png');
    background-repeat: no-repeat;
   background-size:contain;
   background-position: center;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 0% 10% 2% 10%;
}
.hero h1{
    margin: 0;
    font-size: 3rem;
    color: white;
}
.hero p{
    padding: 0 15%;
    color: white;
    text-align: center;
    margin: 4% ;
}
.input{
    background-color: rgba(255, 255, 255,.3);
    padding: 20px 50px;
    width: 80%;
    border-radius: 5px;
}
.hero-input{
    height: 30px;
    width: 20%;
    margin-left: 20px;
    padding-left: 10px;
    color: #13131882;
    border-radius: 5px;
    border: none;
}

.hero-input img{
   width: 12%;
   margin-right: 10px;  
}
.hero-btn{
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
}