*{
    margin: 0;
}
:root{
    --primary-color: #FF5400;
    --text-color: rgba(19,19,24,0.70);
}
header{
    display: flex;
    justify-content: space-between;
    margin: 2% 8% 0 8%;

}
.title{
    display: flex;
    width: 40%;
}
.title img{
   height: 100%;
}

.trove{
    color: var(--primary-color);
}
.title h1{
    padding-top: 1%;
    margin-left: 2%;
}

.navbar{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    margin-left: 5%;
    color: #424247;
    font-size: 1.2rem;
}
.navbar .home{
    color: var(--primary-color);
}
.hero{
    margin: 2% 8% 0 8%;
    background-image: url('image/Group 13.png');
    background-repeat: no-repeat;
   background-size:contain;
   background-position: center;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 0% 10% 2% 10%;
}
.hero h1{
    margin: 0;
    font-size: 3rem;
    color: white;
}
.hero p{
    padding: 0 15%;
    color: white;
    text-align: center;
    margin: 4% ;
}
.input{
    background-color: rgba(255, 255, 255,.3);
    padding: 20px 50px;
    width: 80%;
    border-radius: 5px;
}
.hero-input{
    height: 40px;
    width: 20%;
    margin-left: 15px;
    padding-left: 10px;
    color: #13131882;
    border-radius: 5px;
    border: none;
}

.hero-input img{
   width: 12%;
   margin-right: 10px;  
}
.hero-btn{
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/* tour section */

.tour{
  display: flex;
  margin: 8% 8% 0 8%;
  gap: 5%;
}
.tour-text{
    width: 45%;
}
.tour img{
    width: 100%;
    height: 700px;
}
.tour h1{
    font-size: 2.5rem;
    margin-bottom: 2%;
}
.tour p{
    color: var(--text-color);
}
.tour ul{
    margin: 4% 0;
}
.tour li{
    margin-bottom: 2%;
}
.tour-btn{
    height: 50px;
    width: 170px;
    margin-top: 4%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.destination{
    margin: 2% 8% 0 8%;
    background-color: #FF5400;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  footer.footer {
    /* Additional styles for the upper footer section */
    margin-top: 20px;
  }
  
  .footer img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .footer p {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0 15% 0 15%;
  }
  
  .link img {
    width: 30px;
    height: 30px;
    margin: 30px 5px;
  }
  
  .footer-foot {
    /* Styles for the copyright section */
    text-align: center;
    color: var(--text-color);
    margin-top: 10px;
    width: 50%;
  }

  hr{
    border: 1px solid rgba(19,19,24,0.15);
    width: 100%;
}
  
  /* Other styles remain the same */
 
  
 